@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Anton&family=Doto:wght@100..900&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Palanquin+Dark:wght@400;500;600;700&family=Parkinsans:wght@300..800&family=Potta+One&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Train+One&display=swap');

*{
    font-family: "Source Code Pro", monospace;
  }

::-webkit-scrollbar{
  display: none;
}

  .bn5 {
 
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 250, 250);
  background-color: #000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #000000,
    #00ffd5,
    #002fff,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #e6dbdb;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.slider-wrapper {
  max-width: 100%; 
}

#slider {
  display: flex;
  transform: translateX(0); 
}
.details1 p, .details2 p, .details3 p, .details4 p{
width: 100%;
height: 100%;
padding: 50px;
background: rgba(73, 3, 143, 0.1);
box-shadow: 0 8px 32px 0 rgba(102, 14, 204, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.contacts{
width: 100%;
height: 100%;
padding: 50px;
background: rgba(22, 22, 22, 0.1);
box-shadow: rgba(70, 68, 82, 0.138, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}












